{% extends 'base.html.twig' %}

{% block title %}Hello ClassroomController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <td><a href="{{ path('app_classroomadd' )}}">new</a></td>
    <table border="1px">

        <tr>
            <td>id</td>
            <td>email</td>
            <td>students</td>


            <td>actions</td>

        </tr>
        {% for c in classroomList %}

            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.email }}</td>





      <td><a href="{{ path('app_classroomremove',{'id':c.id} )}}">delete</a>
{#                    <a href="{{ path('app_studentupdate',{'id':c.nsc} )}}">update</a>#}
                    {#                    <a href="{{ path('app_product_details',{'id':c.matricule} )}}">Details</a></td>#}





                    {# <td><a href="{{ path('app_product_remove',{'id':c.id} )}}">delete</a></td>#}



            </tr>

        {% endfor %}
    </table>

{% endblock %}
