<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="asset{{ 'node_modules/bootstrap/dist/css/bootstrap.css' }}">
    <style>
        table,
        th,
        td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>


<title>
    ListClassroom
</title>
</head>
<body>



{% for message in app.session.flashBag.get(('success')) %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.session.flashBag.get(('error')) %}
    <div class="alert alert-error">
        {{ message }}
    </div>
{% endfor %}



<table class="table table-bordered">
    <thead>
    <tr>
<th scope="col" >id</th>
<th scope="col" >classroom</th>
        <th scope="col" >Update</th>
        <th scope="col" >Delete</th>
    </tr>
    </thead>
    <tbody>
{% for classroom in  listClassroom  %}

<tr>

    <td>{{ classroom.id }}</td>
    <td>{{ classroom.name }}</td>
    <td><a href="{{ path('app-update' , {id:classroom.id} ) }}" class="href">update</a></td>
    <td><a href="{{ path('app-Delete' , {id:classroom.id} ) }}" class="href">Delete</a></td>

</tr>

{% endfor %}
    </tbody>
</table>
<a href="{{ path('app-form') }}" class="href">AddClassroom</a>
</body>
</html>